@CHARSET "UTF-8";

/*****************************************
 * Overlabel styling
 ****************************************/

div.withLabel {
	position: relative;
	float: left;
}

label.overlabel {
	color: #999;
}

label.overlabel-apply {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
	color: #999;
}

/*****************************************
 * calendar input styling
 ****************************************/

div.calendar {
  font-size: smaller;
  color: #000;

  &.popup { z-index:1000; }
  table {
    background-color: #eee;
    border: 1px solid #aaa;
    border-collapse: collapse;
  }

  thead { background-color: white; }
  td, th {
    padding: 3px;
    text-align: center;
  }
  th {
    background: #ddd;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    font-weight: bold;
    color: #555;
  }
  td.title { font-weight: bold; }
  tr.days td {
    width: 2em;
    color: #555;
    text-align: center;
    cursor: pointer;
    
    &:active { background-color: #cde; }
    &:hover {
      background-color: #D4E83A;
      cursor: pointer;
    }
    &.selected {
      font-weight: bold;
      background-color: #fff;
      color: #000;
    }
    &.today {
      font-weight: bold;
      color: #34ABFA;
    }
    &.otherDay { color: #bbb; }
  }
  
  td.button {
	-moz-border-radius:0px;
	-webkit-border-radius:0px;
	
	&:active { background-color: #cde; } 
  }
}


input[type="date"] {
	margin-right:2px;
	width: 70px;
	padding:2px;
	text-align:center;
}

input[type="date"] + img {
	cursor:pointer;
}

/*****************************************
 * Form Field Validation
 ****************************************/
.validate-invalid {
    border: 1px solid #c00;
}
.validate-advice {
    background: url(../images/error.gif) top left no-repeat;
    padding-left: 20px;
    color: #a00;
}
.validate-valid {
    border: 1px solid #0c0;
}
.validate-valid-hint {
    width: 16px;
    height: 16px;
    overflow: hidden;
    background: url(../images/success.gif) center center no-repeat;
}
