body {
   font-family:Trebuchet MS, Helvetica, sans-serif;
   font-size:13px;
   line-height: 1.56em;
   color:#111;
   margin: 0px;
   padding: 0px;
   z-index:0;
}

#page { padding: 10px; }
a { 
    color: #000;
    &:hover {
        text-decoration: none;
	color: #666;
    } 
}

p {
    &.success { color: #0a0; }
    &.error { color: #a00; }
}

.form-entry {
    margin-bottom: 10px;
    label { display: block; }
    .value { position: relative; }
    input[type="text"], input[type="password"] { width: 200px; }
    .radio label { display: inline; }
}

fieldset {
    border: 0px;
    display: inline-block;
}

clear, .clear { display: block; height: 0px; clear: both; }

.loading-indicator {
	background: white url(../images/loading.gif) center left no-repeat;
	padding-left: 230px;
	padding-right: 10px;
	position: absolute;
	border: 1px solid #ccc;
	color: black;
	z-index: 1000;	
	line-height: 2em;
	height: 2em;
}

/**
 * Mini CSS Grid Framework
 * use it like so:
 * <div>
 *        <div class='dp25'>small content</div>
 *         <div class='dp50'>content comes here</div>
 *        <div class='dp25'>small content 2</div>
 *        <clear></clear>
 * </div>
 */
@dp (@width:100%) {
    width: @width;
    float: left;
    display: inline;
    margin: 0px;
    padding: 0px;
    *margin-left:-0.04em;
}

.dp100 { @dp(100%); }
.dp50 { @dp(50%); }
.dp25 { @dp(25%); }
.dp20 { @dp(20%); }
.dp33 { @dp(33.33333333333%); }


/**
 * BOOTSTRAP LESS 
 * find more information on how to use it here:
 * http://markdotto.com/bootstrap/
 */

// Input placeholder text
.placeholder(@color: @grayLight) {
  :-moz-placeholder {
    color: @color;
  }
  ::-webkit-input-placeholder {
    color: @color;
  }
}

// Clearfix for clearing floats like a boss
.clearfix {
	zoom: 1;
	&:after {
		display: block;
		visibility: hidden;
		height: 0;
		clear: both;
		content: ".";
	}
}

// Border Radius
.border-radius(@radius: 5px) {
     -moz-border-radius: @radius;
     border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
     -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
     box-shadow: @shadow;
}

// Opacity
.opacity(@opacity: 100) {
    filter: unquote("alpha(opacity={@opacity})");
    -khtml-opacity: @opacity / 100;
    -moz-opacity: @opacity / 100;
    opacity: @opacity / 100;
}

// Transitions
.transition(@transition) {
	-webkit-transition: @transition;
	-moz-transition: @transition;
	transition: @transition;
}

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
#translucent {
    .background(@color: @white, @alpha: 1) {
        background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
    }
    .border(@color: @white, @alpha: 1) {
        border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
        background-clip: padding-box;
    }
}

// Buttons
@button(@color: #c97200, @textColor: #fff, @fontSize: 30px, @textShadow: 0 1px 1px rgba(255,255,255,.75), @padding: 4px 13px 2px 13px, @borderRadius: 6px) {
  display: inline-block;
  #gradient > .vertical(@color,darken(saturate(@color,10),10));
  padding: @padding;
  text-shadow: @textShadow;
  border: 1px solid darken(saturate(@color, 20));
  color: @textColor;
  font-size: @fontSize;
  line-height: @fontSize * 1.5;
  .border-radius(@borderRadius);
  @shadow: inset 0 1px 0 rgba(255,255,255,.2), inset 0 -1px 0 rgba(0,0,0,.2), 0 1px 2px rgba(0,0,0,.25);
  .box-shadow(@shadow);

  &:hover {
    background-position: 0 -15px;
    color: @textColor;
    text-decoration: none;
  }
}

// Gradients
#gradient {
  .horizontal (@startColor: #555, @endColor: #333) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, right top, from(@startColor), to(@endColor)); /* Konqueror */
    background-image: -moz-linear-gradient(left, @startColor, @endColor); /* FF 3.6+ */
    background-image: -ms-linear-gradient(left, @startColor, @endColor); /* IE10 */
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, @startColor), color-stop(100%, @endColor)); /* Safari 4+, Chrome 2+ */
    background-image: -webkit-linear-gradient(left, @startColor, @endColor); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(left, @startColor, @endColor); /* Opera 11.10 */
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor)); /* IE6 & IE7 */
    -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor); /* IE8+ */
    background-image: linear-gradient(left, @startColor, @endColor); /* the standard */
  }
  .vertical (@startColor: #555, @endColor: #333) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(@startColor), to(@endColor)); /* Konqueror */
    background-image: -moz-linear-gradient(@startColor, @endColor); /* FF 3.6+ */
    background-image: -ms-linear-gradient(@startColor, @endColor); /* IE10 */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @startColor), color-stop(100%, @endColor)); /* Safari 4+, Chrome 2+ */
    background-image: -webkit-linear-gradient(@startColor, @endColor); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(@startColor, @endColor); /* Opera 11.10 */
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); /* IE6 & IE7 */
    -ms-filter: %("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor); /* IE8+ */
    background-image: linear-gradient(@startColor, @endColor); /* the standard */
  }
  .directional (@startColor: #555, @endColor: #333, @deg: 45deg) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(@deg, @startColor, @endColor); /* FF 3.6+ */
    background-image: -ms-linear-gradient(@deg, @startColor, @endColor); /* IE10 */
    background-image: -webkit-linear-gradient(@deg, @startColor, @endColor); /* Safari 5.1+, Chrome 10+ */
    background-image: -o-linear-gradient(@deg, @startColor, @endColor); /* Opera 11.10 */
    background-image: linear-gradient(@deg, @startColor, @endColor); /* the standard */
  }
  .vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 0.5, @endColor: #c3325f) {
    background-color: @endColor;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
    background-image: -webkit-linear-gradient(@startColor, color-stop(@colorStop, @midColor), @endColor);
    background-image: -moz-linear-gradient(@startColor, color-stop(@midColor, @colorStop), @endColor);
  }
}

