.highlight td {
	background-color:#dcf79a;
}

span.langhelper {
	display: block;
	position: absolute;
	width: 10px;
	height: 10px;
	opacity: 0.5;
	filter:alpha(opacity=50);
	background: #faa;
	border: 1px solid #fff;
}

div.langtooltip {
	position: absolute;
	z-index:111111111;
	padding: 5px 10px;
	background: #ffc;
	margin-top:10px;
	margin-left: 10px;
	border: 1px solid #cca;
}

.global-home-left-nav-button {
	@button;
}

.global-home-left-nav {
	float: left;
	width: 200px;
	background-color: #efefef;
	border: 1px solid #369;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	padding: 10px;
	padding-top: 0px;
	dt { margin-top: 20px; }
}