<? global $SERVER; ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
   	<head>
		<title><?=$this->getTitle()?></title>
		<meta name="description" content="<?=$this->getDescription()?>" />
		<meta name="keywords" content="<?=$this->getKeywords()?>" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta http-equiv="content-encoding" content="compress, gzip" />
		<meta http-equiv="expires" content="never" />
		<meta http-equiv="content-language" content="en-us" />
		<meta name="distribution" value="global" />
       	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       	<link rel="shortcut icon" href="favicon.ico" />
       	<meta name="publisher" content="Prails Web Framework" />
        <base href="<?=$SERVER?>" /> 
    	<meta name="revisit-after" content="1 day" />
        <style type="text/css">
            @encoding 'UTF-8';
        </style>
        <!--[if lt IE 9]>
            <script type="text/javascript" src="<?=$SERVER?>templates/main/js/ie9.js">IE7_PNG_SUFFIX=".png";</script>
        <![endif]-->
        <?=$this->getStyleSheets()?>
        <?=$this->getJavaScripts()?>
   	</head>
	<body>
		<div id="page">
			<?=$str_content?>
	    </div>
   </body>
</html>
