<?php global $SERVER; ?>
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="<?=one_of($_COOKIE['defaultLangAbbr'], defined(DEFAULT_LANGUAGE_ABBR) && strlen(DEFAULT_LANGUAGE_ABBR) > 0 ? DEFAULT_LANGUAGE_ABBR : "en_us")?>" xml:lang="<?=one_of($_COOKIE['defaultLangAbbr'], defined(DEFAULT_LANGUAGE_ABBR) && strlen(DEFAULT_LANGUAGE_ABBR) > 0 ? DEFAULT_LANGUAGE_ABBR : "en_us")?>">
   	<head>
		<title><?=$this->getTitle()?></title>
		<meta name="description" content="<?=$this->getDescription()?>" />
		<meta name="keywords" content="<?=$this->getKeywords()?>" />
		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
		<meta http-equiv="content-encoding" content="compress, gzip" />
		<meta http-equiv="expires" content="never" />
		<meta http-equiv="content-language" content="<?=one_of($_COOKIE['defaultLangAbbr'], defined(DEFAULT_LANGUAGE_ABBR) && strlen(DEFAULT_LANGUAGE_ABBR) > 0 ? DEFAULT_LANGUAGE_ABBR : "en_us")?>" />
		<meta name="distribution" value="global" />
       	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
       	<link rel="shortcut icon" href="favicon.ico" />
       	<meta name="publisher" content="Prails Web Framework" />
        <base href="<?=str_replace('http:', ($_SERVER['HTTPS'] ? 'https:' : 'http:'), $SERVER)?>" /> 
    	<meta name="revisit-after" content="1 day" />
    	<?=$this->getHeaders()?>
    	<script type="text/javascript"><?=ENV_PRODUCTION !== true ? "devel=true;" : ""?></script>
        <style type="text/css">
            @encoding 'UTF-8';
        </style>
		<script type="text/javascript" src="<?=str_replace('http:', '', $SERVER)?>templates/main/js/tiny_mce/tiny_mce.js"></script>	    
        <!--[if lt IE 9]>
            <script type="text/javascript" src="<?=str_replace('http:', '', $SERVER)?>templates/main/js/ie9.js">IE7_PNG_SUFFIX=".png";</script>
        <![endif]-->
        <?=$this->getStyleSheets()?>
        <?=$this->getJavaScripts()?>
   	</head>
	<body<?=strtoupper($_SERVER['REQUEST_METHOD']) == 'POST' ? ' class="post-request"' : (ENV_PRODUCTION !== true && IS_SETUP === true && AUTO_REFRESH ? ' class="get-request"' : '')?>>
		<div id="page">
			<?=$str_content?>
	    </div>
   </body>
</html>
