<ul class="historyList" id="d_#session.data_id" style="display:none;">
	<? if (is_array($arr_param["history"])) foreach ($arr_param["history"] as $history) { 
		$name = unserialize(base64_decode($history['name'])); 
		$js = unserialize(base64_decode($history['code'])); ?>
		<li><a href="" onclick="try{showHistory($('d_name_#session.data_id'), this.down('code'));showHistory('coded#session.data_id', this.down('code', 1));}catch(e){console.log(e.message);};return false;">
			<?=date("H:i:s - d.m.Y", $history["change_time"])?>
			<code style="display:none;"><? if (is_array($name)) foreach ($name as $entry) { if (is_array($entry)) { if(is_array($entry["i"])) foreach ($entry["i"] as $line) { ?><?=($line)?><? } else if (strlen($entry["i"])>0) {?><?=($entry["i"])?><?}} else { echo ($entry); }} ?></code>
			<code style="display:none;"><? if (is_array($js)) foreach ($js as $entry) { if (is_array($entry)) { /*if(is_array($entry["d"])) foreach ($entry["d"] as $line) { ?><del><?=htmlspecialchars($line)?></del><br/><? } else if (strlen($entry["d"])>0){?><del><?=htmlspecialchars($entry["d"])?></del><br/><?}*/ if(is_array($entry["i"])) foreach ($entry["i"] as $line) { ?><?=$line."\n"?><? } else if (strlen($entry["i"])>0) {?><?=$entry["i"]."\n"?><?}} else { echo $entry."\n"; }} ?></code>
		</a></li>
	<? } ?>
	<li><a href="" onclick="try{showHistory($('d_name_#session.data_id'), $('d_nameh_#session.data_id'));showHistory('coded#session.data_id', $('hCoded#session.data_id'));}catch(e){console.log(e);};return false;">now</a></li>
</ul>
<script type="text/javascript">
//<![CDATA[
	(function(){				
		$("container_d_#session.data_id").observe("history:loaded", function(event){
			$("d_#session.data_id").fisheye = new FishEye($("d_#session.data_id").select("li a"), {
				container: $("d_#session.data_id"),
				big: {width: 210, height:20}, 
				small: {width:40, height: 5}
			});
		});
	})();
//]]>
</script>