<div style="padding:20px;" id="container_h_#handler.handler_id">
<? $defaultBespinOptions = ', "settings": {"fontsize": 10, "tabstop": 4, "theme": "white", "codecomplete": true, "autoindent": true}, "stealFocus": true'; ?>
<form id="hformh<?=(int)$arr_param["handler"]["handler_id"]?>" method="post" action="?event=builder:listModules" onsubmit="$('hHtmlCode<?=(int)$arr_param["handler"]["handler_id"]?>').value=editor<?=str_replace('-', '_', "".((int)$arr_param["handler"]["handler_id"]))?>.getCode();$('hCode<?=(int)$arr_param["handler"]["handler_id"]?>').value=phpEditor<?=str_replace('-', '_', "".((int)$arr_param["handler"]["handler_id"]))?>.getCode();invoke(null, 'builder:editHandler&check=1', this.serialize(), true, function(req) {loadURL('?event=builder:listModules');});return false;">
	<div style="float:left;width:49%;margin-right:1%;">
		<label for="name">Name of event handler</label><br/>
		<input id="h_event_#handler.handler_id" type="text" name="handler[event]" value="#handler.event" /><br/><br/>
		<input id="h_eventh_#handler.handler_id" type="hidden" value="#handler.event" />
	</div>
	<div style="float:left;width:50%;">
		<br/><input type="checkbox" name="handler[flag_ajax]" value="1" id="ajax_#handler.handler_id"<?=($arr_param["handler"]["flag_ajax"] == "1" ? " checked='checked'":"")?> />
		<label for="ajax_#handler.handler_id">is AJAX event</label><br/><br/>
	</div>
	<div style="clear:both;"></div>
	<div style="float:left;margin-right:1%;width:49%;position:relative;">
		<div style="position:absolute;right:0px;">
			<a href="#" onclick="this.next().show();this.hide();this.parentNode.parentNode.next().hide();this.parentNode.parentNode.style.width='100%';return false;" title="maximize code view"><img src="templates/builder/images/icon_maximize.gif" border="0" alt="maximize code view" /></a>
			<a href="#" style="display:none;" onclick="this.previous().show();this.hide();this.parentNode.parentNode.next().show();this.parentNode.parentNode.style.width='49%';return false;" title="minimize code view"><img src="templates/builder/images/icon_minimize.gif" border="0" alt="minimize code view" /></a>
		</div>
		<label for="code<?=(int)$arr_param["handler"]["handler_id"]?>">Handler Code:</label><br/>
		<input type="hidden" id="hCodeh<?=(int)$arr_param["handler"]["handler_id"]?>" name="handler[code]" value="" />
		<!--[noeval]-->
		<div style="border:1px solid #ccc;" id="codeh<?=(int)$arr_param['handler']['handler_id']?>" data-bespinoptions='{"syntax": "php"<?=$defaultBespinOptions?>}' onload="$('container_h_<?=$arr_param['handler']['handler_id']?>').loadCodeTags"><?=htmlspecialchars($arr_param["handler"]["code"])?></div>
		<!--[/noeval]-->
	</div>
	<div style="float:left;width:50%;position:relative;">
		<div style="position:absolute;right:0px;">
			<a href="#" onclick="this.next().show();this.hide();this.parentNode.parentNode.previous().hide();this.parentNode.parentNode.style.width='100%';return false;" title="maximize code view"><img src="templates/builder/images/icon_maximize.gif" border="0" alt="maximize code view" /></a>
			<a href="#" style="display:none;" onclick="this.previous().show();this.hide();this.parentNode.parentNode.previous().show();this.parentNode.parentNode.style.width='50%';return false;" title="minimize code view"><img src="templates/builder/images/icon_minimize.gif" border="0" alt="minimize code view" /></a>
		</div>
		<label for="html_code<?=(int)$arr_param["handler"]["handler_id"]?>">Output Code:</label><br/>
		<input type="hidden" id="hHtmlCodeh<?=(int)$arr_param["handler"]["handler_id"]?>" name="handler[html_code]" value="" />
		<!--[noeval]-->
		<div style="border:1px solid #ccc;" id="html_codeh<?=(int)$arr_param['handler']['handler_id']?>" data-bespinoptions='{"syntax": "html"<?=$defaultBespinOptions?>}'><?=htmlspecialchars($arr_param["handler"]["html_code"])?></div>
    <!--[/noeval]-->		
	</div>
	<div style="clear:both;"></div>
	<br/>
	<script type="text/javascript">
	//<![CDATA[
		window.keywords = [	"list", "foreach", "array", "in", "include", "die", "echo", "empty", "exit", "eval", "include_once", "isset",
							"require", "require_once", "return", "print", "unset", "case", "class", "abstract", "and", "as", "break",
							"catch", "clone", "const", "continue", "declare", "default", "do", "else", "elseif", "enddeclare", "endfor",
							"endforeach", "endif", "endswitch", "endwhile", "extends", "final", "for", "foreach", "function", "global",
							"goto", "if", "implements", "interface", "instanceof", "namespace", "new", "or", "private", "protected",
							"public", "static", "switch", "throw", "try", "use", "var", "while", "xor"
		];
		setTimeout(function() {
      $("container_h_#handler.handler_id").save = function() {
          if (window.keywords.indexOf($("h_event_#handler.handler_id").getValue()) >= 0) {
            $("h_event_#handler.handler_id").value = "_"+$("h_event_#handler.handler_id").getValue();
          }
          $('hHtmlCodeh<?=(int)$arr_param["handler"]["handler_id"]?>').value=Builder.getCode("html_codeh<?=(int)$arr_param['handler']['handler_id']?>");
          $('hCodeh<?=(int)$arr_param["handler"]["handler_id"]?>').value=Builder.getCode("codeh<?=(int)$arr_param['handler']['handler_id']?>");
          invoke(null, 'builder:editHandler&check=1&module_id=<?=if_set($arr_param['handler']['fk_module_id'], $_SESSION["module_id"])?>&handler_id=<?=(int)$arr_param['handler']['handler_id']?>', $('hformh<?=(int)$arr_param["handler"]["handler_id"]?>').serialize(), true, function(req) {
            Ext.ux.util.msg("Saving completed.", "Your changes have been saved successfully.");
            if (<?=(int)$arr_param["handler"]["handler_id"]?> == 0) {
              var name = $("h_event_#handler.handler_id").getValue();
              var id = req.responseText.split(/\s/g)[0];
              var mid = <?=(int)$_SESSION["module_id"]?>;
              var module = Builder.root.findChild("id", mid);
              Builder.closeTab("h_0");
              var n = new Ext.tree.TreeNode({
                text: name,
                leaf: true,
                id: "h_"+id,
                allowChildren: false
              });
              module.handlers.push(n);
              Builder.editHandler(n);
              Builder.resetTree(Builder.handlerRoot, module.handlers);
            }
          });
          return false;     
      };
      
      $("container_h_#handler.handler_id").loadCodeTags = function(env) {
/*
      	var arr = [];
      	$A(Builder.root.findChild("id", <?=(int)$_SESSION["module_id"]?>).datas).each(function(item) {
      		arr.push({
                name: item.text,
                kind: "f",
                tagfile: "",
                addr: "/^"+item.text+"$/",
                namespace: "data"
      		});
      	});
      	env.editor.addTags(arr);
//*/      	
      };
      
      (function() {
	      Builder.applyBespin("codeh<?=(int)$arr_param['handler']['handler_id']?>", function(fr) {
	         $("codeh<?=(int)$arr_param['handler']['handler_id']?>").down("iframe").style.height = (parseInt($("hformh<?=(int)$arr_param['handler']['handler_id']?>").parentNode.parentNode.style.height) - 150) + "px";
	         ;
	         Builder.applyBespin("html_codeh<?=(int)$arr_param['handler']['handler_id']?>", function(fr) {
	            $("html_codeh<?=(int)$arr_param['handler']['handler_id']?>").down("iframe").style.height = (parseInt($("hformh<?=(int)$arr_param['handler']['handler_id']?>").parentNode.parentNode.style.height) - 150) + "px";          
	         }, Object.extend(Builder.prailsNamespace, {
		    	  id: "container_h_#handler.handler_id",
		          save: function() {
		             parent.$("container_h_#handler.handler_id").save();
		          }, 
		          run: function() {
		             Builder.runHandler("<?=$arr_param['module']['name']?>", "<?=$arr_param['handler']['event']?>");         
		          }
		      }));
	      }, Object.extend(Builder.prailsNamespace, {
	    	  id: "container_h_#handler.handler_id",
	          save: function() {
	             parent.$("container_h_#handler.handler_id").save();
	          }, 
	          run: function() {
	             Builder.runHandler("<?=$arr_param['module']['name']?>", "<?=$arr_param['handler']['event']?>");         
	          }
	      }));
      })();

			Ext.getCmp("portlet_content_h_<?=(int)$arr_param['handler']['handler_id']?>").getTopToolbar().add({
				xtype: "button",
				text: "Save",
				iconCls: "save",
				handler: function(e) {
					$("container_h_#handler.handler_id").save();
				}
			}, "-", {
				xtype: "button",
				text: "Run",
				tooltip: "Ctrl+Shift+X",
				iconCls: "run",
				disabled: (<?=(int)$arr_param["handler"]["handler_id"]?> == 0 ? true : false),
				handler: function(e) {
					Builder.runHandler("<?=$arr_param['module']['name']?>", "<?=$arr_param['handler']['event']?>");					
				}
			}, "-", {
				xtype: "button",
				text: "Edit URL",
				iconCls: "urls",
				disabled: (<?=(int)$arr_param["handler"]["handler_id"]?> <= 0 ? true : false),
				handler: function(e) {
					Builder.editNiceUrl('#handler.event URL', '#handler.handler_id');
				}
			},"-", {
				xtype: "button",
				text: "Apply History",
				id: "handler.#handler.handler_id_applyHistory.button",
				iconCls: "apply",
				disabled: true,
				handler: function(e) {
					Builder.historyCleanFields([
						window.editorh<?=str_replace('-', '_', "".((int)$arr_param["handler"]["handler_id"]))?>.editor, 
						window.phpEditorh<?=str_replace('-', '_', "".((int)$arr_param["handler"]["handler_id"]))?>.editor, 
						$('h_event_#handler.handler_id')
					]);
					window.phpEditorh<?=str_replace('-', '_', "".((int)$arr_param["handler"]["handler_id"]))?>.options.saveFunction();
				}	
			}, "-", {
				xtype: "button",
				id: "handler.#handler.handler_id_viewHistory.button",
				text: "View History",
				iconCls: "history",
				disabled: (<?=(int)$arr_param["handler"]["handler_id"]?> <= 0 ? true : false),
				handler: function(e) {
					if ($("ha_#handler.handler_id") != null) {
						$("ha_#handler.handler_id").fisheye.dispose();
						$("ha_#handler.handler_id").remove();
						Ext.getCmp("handler.#handler.handler_id_applyHistory.button").disable();
						Ext.getCmp("handler.#handler.handler_id_viewHistory.button").setText("View History");
					} else {
						Builder.browseHandlerHistory(#handler.handler_id);
						Ext.getCmp("handler.#handler.handler_id_applyHistory.button").enable();
						Ext.getCmp("handler.#handler.handler_id_viewHistory.button").setText("Leave History");
					}
				}
			});
			Ext.QuickTips.init();			
		}, 10);
		/*
		<? if ((int)$arr_param["handler"]["handler_id"] > 0) { ?>
		new PeriodicalExecuter(function(pe){
			if (window.phpEditorh<?=(int)$arr_param["handler"]["handler_id"]?>.editor != null && window.editorh<?=(int)$arr_param["handler"]["handler_id"]?>.editor != null) {
				pe.stop();  
				window.phpEditorh<?=(int)$arr_param["handler"]["handler_id"]?>.editor.doc.parent = window;
				window.phpEditorh<?=(int)$arr_param["handler"]["handler_id"]?>.editor.doc.run = function() {
					Builder.runHandler("<?=$arr_param['module']['name']?>", "<?=$arr_param['handler']['event']?>");					
				};			
				window.editorh<?=(int)$arr_param["handler"]["handler_id"]?>.editor.doc.parent = window;
				window.editorh<?=(int)$arr_param["handler"]["handler_id"]?>.editor.doc.run = function() {
					Builder.runHandler("<?=$arr_param['module']['name']?>", "<?=$arr_param['handler']['event']?>");					
				};			
			}
		}, 0.2);
		<? } ?>//*/
	//]]>
	</script>
</form>
</div>