<ul class="historyList" id="ha_#session.handler_id" style="display:none;">
	<? if (is_array($arr_param["history"])) foreach ($arr_param["history"] as $history) { ?>
	<? $name = unserialize(base64_decode($history['event'])); ?>
	<? $js = unserialize(base64_decode($history['code'])); ?>
	<? $css = unserialize(base64_decode($history['html_code'])); ?>
	<li><a href="" onclick="showHistory($('h_event_#session.handler_id'), this.down('code'));showHistory('codeh#session.handler_id', this.down('code', 1));showHistory('html_codeh#session.handler_id', this.down('code', 2));return false;">
		<?=date("H:i:s - d.m.Y", $history["change_time"])?>
		<code style="display:none;"><? if (is_array($name)) foreach ($name as $entry) { if (is_array($entry)) { if(is_array($entry["i"])) foreach ($entry["i"] as $line) { ?><?=($line)?><? } else if (strlen($entry["i"])>0) {?><?=($entry["i"])?><?}} else { echo ($entry); }} ?></code>
		<code style="display:none;"><? if (is_array($js)) foreach ($js as $entry) { if (is_array($entry)) { /* if(is_array($entry["d"])) foreach ($entry["d"] as $line) { ?><del><?=htmlspecialchars($line)?></del><br/><? } else if (strlen($entry["d"])>0){?><del><?=htmlspecialchars($entry["d"])?></del><br/><?}*/ if(is_array($entry["i"])) foreach ($entry["i"] as $line) { ?><?=$line."\n"?><? } else if (strlen($entry["i"])>0) {?><?=$entry["i"]."\n"?><?}} else { echo $entry."\n"; }} ?></code>
		<code style="display:none;"><? if (is_array($css)) foreach ($css as $entry) { if (is_array($entry)) { /*if(is_array($entry["d"])) foreach ($entry["d"] as $line) { ?><del><?=htmlspecialchars($line)?></del><br/><? } else if (strlen($entry["d"])>0){?><del><?=htmlspecialchars($entry["d"])?></del><br/><?}*/ if(is_array($entry["i"])) foreach ($entry["i"] as $line) { ?><?=htmlspecialchars($line)."\n"?><? } else if (strlen($entry["i"])>0) {?><?=htmlspecialchars($entry["i"])."\n"?><?}} else { echo htmlspecialchars($entry)."\n"; }} ?></code>
	</a></li>
	<? } ?>
	<li><a href="" onclick="showHistory($('h_event_#session.handler_id'), $('h_eventh_#session.handler_id'));showHistory('codeh#session.handler_id', $('hCodeh#session.handler_id'));showHistory('html_codeh#session.handler_id', $('hHtmlCodeh#session.handler_id'));return false;">now</a></li>
</ul>
<script type="text/javascript">
//<![CDATA[
	(function(){
		$("container_h_#session.handler_id").observe("history:loaded", function(event){
			$("ha_#session.handler_id").fisheye = new FishEye($("ha_#session.handler_id").select("li a"), {
				container: $("ha_#session.handler_id"),
				big: {width: 210, height:20}, 
				small: {width:40, height: 5}
			});
		});
	})();
//]]>
</script>