[
<? if (is_array($arr_param["history"])) foreach ($arr_param["history"] as $history) { $name = unserialize(base64_decode($history['event'])); $code = unserialize(base64_decode($history['code'])); $htmlCode = unserialize(base64_decode($history['html_code'])); ?>
{

	"date": "<?=date("H:i:s - d.m.Y", $history["change_time"])?>",

	"name": "<? if (is_array($name)) foreach ($name as $entry) { if (is_array($entry)) { if(is_array($entry["i"])) foreach ($entry["i"] as $line) { ?><?=($line)?><? } else if (strlen($entry["i"])>0) {?><?=($entry["i"])?><?}} else { echo ($entry); }} ?>",

	"code": "<? if (is_array($code)) foreach ($code as $entry) { if (is_array($entry)) { if(is_array($entry["i"])) foreach ($entry["i"] as $line) { ?><?=str_replace(Array('"', "\n"), Array('\\"', "\\n"), htmlspecialchars($line))."\\n"?><? } else if (strlen($entry["i"])>0) {?><?=str_replace(Array('"', "\n"), Array('\\"', "\\n"), htmlspecialchars($entry["i"]))."\\n"?><?}} else { echo str_replace(Array('"', "\n"), Array('\\"', "\\n"), htmlspecialchars($entry))."\\n"; }} ?>",
	
	"html": "<? if (is_array($htmlCode)) foreach ($htmlCode as $entry) { if (is_array($entry)) { if(is_array($entry["i"])) foreach ($entry["i"] as $line) { ?><?=str_replace(Array('"', "\n"), Array('\\"', "\\n"), htmlspecialchars($line))."\\n"?><? } else if (strlen($entry["i"])>0) {?><?=str_replace(Array('"', "\n"), Array('\\"', "\\n"), htmlspecialchars($entry["i"]))."\\n"?><?}} else { echo str_replace(Array('"', "\n"), Array('\\"', "\\n"), htmlspecialchars($entry))."\\n"; }} ?>"
},
<? } ?>
{
	"date": "now",
	"name": null,
	"code": null,
	"html": null
}]
