<div id="header" style="display:none;">
<h1 style="letter-spacing:0.75em;text-transform:uppercase; padding-left:10px;"><img src="templates/builder/images/logo.png" height="24" align="absmiddle" /> PHP On Rails Online Development Environment</h1>
</div>
<div id="help" style="display:none;">
	<div style="padding:10px;width:400px;">
		<h1>Prails IDE - Online Help</h1>
		<p style="font-size:10px;color: #999;">
		  Version: <b><?=FRAMEWORK_VERSION?></b>
		  <? if ($arr_param["local"]["changeset"]) { ?>
		      <div style="background-color: #FFA;border: 1px solid #CC6;font-size: 10px;padding: 5px;text-align: center;">Prails #local.version is available now! See <a href="javascript:" onclick="showChangeSet();return false;">what's new</a>. You can <a href="javascript:" onclick="runSelfUpdate();return false;">update here</a>.</div>
		      <div style="display: none;" id="changesetText">
		          <pre style="white-space:pre-wrap;padding:10px;"><?=htmlspecialchars($arr_param["local"]["changeset"])?></pre>
		      </div>
		  <? } ?>
		</p>
		<p>Welcome to the Prails Framework. On the left hand side you can see your personal navigation area. Under "Modules" you can see all modules that do exist.
		By double clicking an entry you edit this module. By right clicking you can change the module's options. </p>
		<p>When editing a module, your navigation area will let you see the event handlers and data queries of the current module. By double-clicking either of them you 
		can edit it.</p>
		<br/><h2>Short Cuts:</h2>
		<table>
			<tr><td>move one tab left</td><td>Ctrl+Shift+Left</td></tr>
			<tr><td>move one tab right</td><td>Ctrl+Shift+Right</td></tr>
			<tr><td>close current tab</td><td>Ctrl+Shift+Q</td></tr>
			<tr><td>execute event / sql query</td><td>Ctrl+Shift+X</td></tr>
			<tr><td>open item...</td><td>Ctrl+Shift+D</td></tr>
			<tr><td>sql query tab</td><td>Ctrl+Shift+A</td></tr>
			<tr><td>save current item</td><td>Ctrl+S</td></tr>
		</table>
		<br/>
		<h2>Futher help:</h2>
		<ul style="list-style-type: list;">
			<li><a href="api/index.html" target="_api">API Documentation</a></li>
			<li><a href="log/framework.log" target="_log">Log file</a></li>
			<li><a href="javascript:(function(){var s=document.createElement('script');s.src='templates/builder/js/langhelper.js';document.body.appendChild(s);})();">CMS Helper Bookmarklet</a></li>
		</ul>		
	</div>
</div>
<div id="export_panel" style="display: none;">
	<div style="padding: 10px;">
	<form method="post" action="?event=builder:export">
		<fieldset>
			<legend>Modules:</legend>
			<select class="export" name="modules[]" multiple="multiple" size="5" id="modules">
				<c:foreach var="modules" name="module">
					<option selected="selected" value="#module.module_id">#module.name</option>
				</c:foreach>
			</select>
			<div>
				<a href="javascript:" onclick="$$('#modules option').each(function(item){item.selected=true;});">select all</a> | 
				<a href="javascript:" onclick="$$('#modules option').each(function(item){item.selected=false;});">select none</a>
			</div>
		</fieldset>
		<fieldset>
			<legend>Libraries:</legend>
			<select class="export" name="libraries[]" multiple="multiple" size="5" id="libraries">
				<c:foreach var="libraries" name="library">
					<option selected="selected" value="#library.library_id">#library.name</option>
				</c:foreach>
			</select>
			<div>
				<a href="javascript:" onclick="$$('#libraries option').each(function(item){item.selected=true;});">select all</a> | 
				<a href="javascript:" onclick="$$('#libraries option').each(function(item){item.selected=false;});">select none</a>
			</div>
		</fieldset>
		<fieldset>
			<legend>Tags:</legend>
			<select class="export" name="tags[]" multiple="multiple" size="5" id="tags">
				<c:foreach var="tags" name="tag">
					<option selected="selected" value="#tag.tag_id">#tag.name</option>
				</c:foreach>
			</select>
			<div>
				<a href="javascript:" onclick="$$('#tags option').each(function(item){item.selected=true;});">select all</a> | 
				<a href="javascript:" onclick="$$('#tags option').each(function(item){item.selected=false;});">select none</a>
			</div>
		</fieldset>		
		<fieldset>
			<legend>Tables:</legend>
			<select class="export" name="tables[]" multiple="multiple" size="5" id="tables">
				<c:foreach var="tables" name="table">
					<option selected="selected" value="#table.table_id">#table.name</option>
				</c:foreach>
			</select>
			<div>
				<a href="javascript:" onclick="$$('#tables option').each(function(item){item.selected=true;});">select all</a> | 
				<a href="javascript:" onclick="$$('#tables option').each(function(item){item.selected=false;});">select none</a>
			</div>
		</fieldset>
		<fieldset>
			<legend>Translations:</legend>
			<select class="export" name="translations[]" multiple="multiple" size="5" id="translations">
				<c:foreach var="texts" name="text" key="root">
					<option selected="selected" value="#local.root">#local.root</option>
				</c:foreach>				
			</select>
			<div>
				<a href="javascript:" onclick="$$('#translations option').each(function(item){item.selected=true;});">select all</a> | 
				<a href="javascript:" onclick="$$('#translations option').each(function(item){item.selected=false;});">select none</a>
			</div>
		</fieldset>
		<div class="panel-bottom"> Save to:
		<input type="text" name="file" value="<?=preg_replace('/[^a-zA-Z0-9_.]/', '_', PROJECT_NAME)."-".date("Y-m-d").".prails"?>" />
		<button type="submit">export</button>
		</div>
	</form>
	</div>
</div>
<div id="import_panel" style="display: none;"><!--
	<div style="padding: 10px;">
	<h2>Import Package</h2>
	<fieldset>
		<legend>
			File to import: 
		</legend>
		<qw:file 	
			target="?event=builder:import&name=" 
			progress="progress" 
			onstart="$('currentFile').innerHTML='Uploading '+this.fileName+' ('+Math.round(this.fileSize / 1024)+'kB)...';" 
			ondone="location.reload();"
		>
			<button>Click to upload</button>
		</qw:file>
		<div id="currentFile"></div>
		<div style="position:relative;width:200px;height:10px;border:1px solid #ccc;background-color:#fff;display:none;">
			<div id="progress" style="position:absolute;left:0px;top:0px;height:100%;width:0px;background-color:#cf9;border-right:1px solid #ccc;"></div>
		</div>
		
		<p style="margin: 1em 0px;"><i>Please note:</i> you can only upload package files to a maximum size of <b><?=ini_get("post_max_size")?>B</b> each.</p>	
	</fieldset>
	</div>
--></div>
<div id="shoutbox" style="display:none;">
	<div style="margin-left:3px;margin-top:3px;">
	<form method="post" action="?event=builder:shout" onsubmit="try{window.dold = (new Date()).getTime();invoke('sbmsglist', 'builder:shout', this.serialize(), true);$('sbmsg').value='';$('sbmsg').blur();}catch(e){console.log(e);};return false;">
		<input type="text" name="msg" id="sbmsg" value="GURU MEDITATION" style="width:190px;" onfocus="if(this.value == 'GURU MEDITATION')this.value='';" />
		<input type="image" src="templates/builder/images/comment.png" style="margin-left:-20px;vertical-align:middle;" />
	</form></div>
	<div id="sbmsglist"></div>
</div>

<script type="text/javascript">
	//<![CDATA[
	var win;
	Ext.BLANK_IMAGE_URL = (function() {
		if (Ext.isIE8 || Ext.isGecko || Ext.isOpera || Ext.isWebkit) {
			return "data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==";
		} else {
			return "templates/builder/images/default/s.gif";
		}			
	})();
	
	var updateProgress = function(url, msg) {
	    window._prailsInstallProgress.currentStatus = msg;
        new Ajax.Request(url, {
            method: "GET",
            onSuccess: function(req) {
                if (req.responseText.replace(/^\s*/gi, "").indexOf("success") == 0) {
                    if (req.responseText.split("\n")[1] != "--") {
                        updateProgress(req.responseText.split("\n")[1], req.responseText.split("\n")[2]);
                    } else {
	 	    			window._prailsInstallProgress.pe.stop();
                        window._prailsInstallProgress.hide();
                        if ((warns = req.responseText.split("\n")[2]).length > 0) {
                            Ext.MessageBox.alert("Completed", "The installation of Prails Version <?=trim($arr_param['local']['version'])?> finished with warnings: <br/>"+warns, function() {
                                location.reload();
                            });                            
                        } else {
                            Ext.MessageBox.alert("Completed", "The installation of Prails Version <?=trim($arr_param['local']['version'])?> is complete.", function() {
                                location.reload();
                            });
                        }
                    }
                } else {
                    window._prailsInstallProgress.hide();
	 	    		window._prailsInstallProgress.pe.stop();
                    Ext.MessageBox.alert("Error", req.responseText);
                }
            }
        });
	};
	
	var runSelfUpdate = function() {
	   if (window.changeSetWindow) {
            window.changeSetWindow.hide();
	   }
        window._prailsInstallProgress = Ext.MessageBox.show({
            title: 'Please wait',
            msg: 'Updating Prails',
            progressText: 'Downloading...',
            width: 300,
            progress: true,
            closable: false
        });
        window._prailsInstallProgress.currentStatus = "Downloading...";
        window._prailsInstallProgress.pe = new PeriodicalExecuter(function(pe) {
            if (!pe.frames) pe.frames = 0;
            window._prailsInstallProgress.updateProgress((pe.frames % 100) / 100.0, window._prailsInstallProgress.currentStatus);                        
            pe.frames++;
        }, 0.1);
        // send update request to server
        updateProgress("?event=builder:updateSystem", "Downloading installer...");
	};
	
	var showChangeSet = function() {
        window.changeSetWindow = new Ext.Window({
            layout:'fit',
            title: "Changes in <?=trim($arr_param['local']['version'])?>",
            width:500,
            height:300,
            plain: true,

            items: new Ext.Panel({
                html: $("changesetText").innerHTML,
                deferredRender:false,
                autoScroll: true,
                border:false
            }),

            buttons: [{
                text: "Update",
                handler: runSelfUpdate
            }, {
                text: 'Close',
                handler: function(){
                    window.changeSetWindow.hide();
                }
            }]
        });
        window.changeSetWindow.show(this);
	};
	
	Ext.onReady(function() {
		window.dold = 0;
		window.firstCall = true;
		window.detag = "";
		window.uid = "<?=$_SESSION['builder']['user_id']?>";
		window.testsuites = [{
			checked: true,
			id: "all",
			text: "All Testcases"
		}];
		
		new PeriodicalExecuter(function(pe) {
			if (window.testStarted) {
				if (Ext.getCmp("testresult").initialConfig.iconCls != "testRunning") {
					Ext.getCmp("testresult").setIconClass("testRunning");
				} else {
					if (window.success > 0) {
						Ext.getCmp("testresult").setIconClass("testSuccess");
					} else {
						Ext.getCmp("testresult").setIconClass("testUnknown")
					}
				}
			} else {
				if (window.errors > 0) {
					Ext.getCmp("testresult").setIconClass("testError");
				} else if (window.success > 0) {
					Ext.getCmp("testresult").setIconClass("testSuccess");
				} else {
					Ext.getCmp("testresult").setIconClass("testUnknown")	
				}
			}
			if (window.testLog) {
				$$(".testLog").each(function(item) {
					item.innerHTML = testLog.join("");
				});
			}
		}, 0.5);
		
		<? if (DEVELOPER_CHAT_ENABLED) { ?>
		new PeriodicalExecuter(function(pe){
			new Ajax.Updater("sbmsglist", "shout.box", {
				method: "get",
				requestHeaders: {
					"If-Modified-Since": (new Date(window.dold)).toGMTString(),
					"If-None-Match": window.detag 
				}, 
				onSuccess: function(req) {
					var date = new Date(req.getHeader("Last-Modified"));
					var dnew = date.getTime();
					if (dnew <= window.dold) {
						req.responseText = $("sbmsglist").innerHTML;
					} else {
						window.dold = dnew;
						window.detag = req.getHeader("Etag");
						if (!window.firstCall) {
							Sound.enable();
							Sound.play("templates/builder/snd/newmsg.mp3", {
								replace: true
							});
							if ($("sb_panel-xcollapsed").visible() && $("sb_panel").hasClassName("x-panel-collapsed")) {
								new PeriodicalExecuter(function(pe) {
									if ($("sb_panel-xcollapsed").visible() && $("sb_panel").hasClassName("x-panel-collapsed")) {
										$("sb_panel-xcollapsed").toggleClassName("x-layout-collapsed-over");
									} else {
										pe.stop();
									}
								}, 1);
							}
						}
					}
					window.firstCall = false;
				},
				on304: function(req) {
					req.responseText = $("sbmsglist").innerHTML;
				}
			});
		}, 4);
		<? } ?>
		module = new Ext.tree.TreeNode({
			text: "Global",
			leaf: true,
			cls: "x-tree-node-collapsed",
			id: "-1",
			allowChildren: false
		});
		module.handlers = [];
		module.handlers.push(new Ext.tree.TreeNode({
			text: "home",
			leaf: true,
			id: "h_-1",
			allowChildren: false
		}));
		module.datas = [];
		Builder.root.appendChild(module);		
		<c:foreach var="modules" name="module">
			module = new Ext.tree.TreeNode({
				text: "#module.name",
				leaf: true,
				cls: "x-tree-node-collapsed",
				id: "#module.module_id",
				allowChildren: false
			});
			window.testsuites.push({text: "#module.name Tests", id: "#module.module_id"});
			module.handlers = [];
			<c:foreach var="module.handlers" name="handler">
				module.handlers.push({
					text: "#handler.event",
					leaf: true,
					cls: (<c:if cond="strlen($arr_param['handler']['hook'])>0">"handler-hook"<c:else/>null</c:if>),
					id: "h_#handler.handler_id",
					allowChildren: false
				});
			</c:foreach>
			module.datas = [];
			<c:foreach var="module.datas" name="data">
				var data = new Ext.tree.TreeNode({
					text: "#data.name",
					leaf: true,
					id: "d_#data.data_id",
					allowChildren: false
				});
				data.cls = "query";
				module.datas.push(data);
			</c:foreach>
			Builder.root.appendChild(module);
		</c:foreach>
		<c:foreach var="libraries" name="library">
			lib = new Ext.tree.TreeNode({
				text: "#library.name",
				leaf: true,
				iconCls: "library",
				id: "l_#library.library_id",
				allowChildren: false
			});
			Builder.libRoot.appendChild(lib);
		</c:foreach>
		<c:foreach var="tags" name="tag">
			tag = new Ext.tree.TreeNode({
				text: "#tag.name",
				leaf: true,
				iconCls: "tagLib",
				id: "t_#tag.tag_id",
				allowChildren: false
			});
			Builder.tagRoot.appendChild(tag);
		</c:foreach>
		<c:foreach var="tables" name="table">
			table = new Ext.tree.TreeNode({
				text: "#table.name",
				leaf: true,
				iconCls: "table",
				id: "db_#table.table_id",
				allowChildren: false
			});
			Builder.dbRoot.appendChild(table);
		</c:foreach>		
		Builder.langRoot.createSubNode = function(nodeName, subNodes, parentNode) {
		    if (parentNode == Builder.langRoot) {
		      pid = "text_";
		    } else pid = parentNode.id;
			var expanded = false;
			if ("<?=$_GET['open_tree']?>".indexOf(nodeName+".") >= 0 || "<?=$_GET['open_tree']?>".indexOf("."+nodeName) >= 0) {
				expanded = true;
			}
	        var node = new Ext.tree.TreeNode({
	           text: nodeName,
			   expanded: expanded,
	           id: pid+"."+nodeName,
	           allowChildren: (typeof(subNodes) != "string"),
	           leaf: (typeof(subNodes) == "string"),
	           iconCls: (typeof(subNodes) == "string" ? "locale" : null),
	           listeners: {
	               dblclick: function(n) {
	                   if (n.isLeaf()) {
	                       // open that text...
	                       Builder.editText(n);
	                   }
	               }
	           }
	        });
	        node.subNodes = subNodes;
	        parentNode.appendChild(node);
	        if (subNodes && typeof(subNodes) != "string") {
    	        for (var each in subNodes) {
    	           if (typeof(subNodes[each]) != "function") {
    	               Builder.langRoot.createSubNode(each, subNodes[each], node);
    	           }
    	        }
	        }
	    }
		
		window.testsuites.push("-");
		window.testsuites.push({
			group: "",
			id: "view-log",
			text: "View Log",
			handler: window.__viewLog = function() {
				Ext.getCmp("view-log").setChecked(false);
				new Ext.Window({
					layout: "fit",
					title: "Test Log",
					modal: false,
					autoScroll: true,
					resizable: true,					
					shadow: true,
					width: 374,
					height: 360,
					plain: true,
					listeners: {
						close: function(p) {
							Ext.getCmp("view-log").setChecked(false);
						}
					},
					html: "<div class='testLog'>"+(window["testLog"] ? testLog.join("") : "No testsuite has been run.")+"</div>"					
				}).show();
			}
		});
		window.testsuites.push({
			group: "",
			id: "view-run",
			text: "View Test Run",
			handler: window.__viewRun = function() {
				Ext.getCmp("view-run").setChecked(false);
				window.__testTargetWindowContainer.show();
			}
		});
			
		
		<c:foreach var="texts" name="text" key="section">
		    Builder.langRoot.createSubNode("#local.section", <?=json_encode($arr_param["text"])?>, Builder.langRoot);
		</c:foreach>
		window.Builder.isDeveloper = <?=$_SESSION["builder"]["group"] == "cms" ? "false" : "true"?>;
		Builder.init('<?=$_GET["open_nav"]?>');
	});
	//]]>
</script>
