<? if (strlen($_GET["check"])>0) { ?>
	<table border="0" cellspacing="1"><tr><th></th>
	<? if ($arr_param["result"][0] != null) { ?><th><?=implode("</th><th>", array_keys($arr_param["result"][0]->getArrayCopy()))?></th><? } ?>
	</tr>
	<? if (is_array($arr_param["result"]) && count($arr_param["result"])) foreach ($arr_param["result"] as $line=>$arr_entry) { ?>
		<tr class="<?=$line%2==0?'':'grey'?>">
			<td><?=($line+1)?></td>
			<? foreach ($arr_entry as $key=>$value) { if (is_numeric($key)) continue; ?>
				<td>
					<pre style="padding:0px;margin:0px;"><?=htmlspecialchars($value)?></pre>
				</td>
			<? } ?>
		</tr>
	<? } else { ?>
		<? if (strlen($arr_param["error"]) > 0) { ?>
		<tr><td><?=$arr_param["error"]?></td></tr>
		<? } else { ?>
		<tr><td>Your query did not return a result.</td></tr>
		<? } ?>
	<? } ?>
	</table>
	<script type="text/javascript">
		(function(){
			$$("#result tr td").each(function(item){
				item.observe("click", function(event){
					this.up().toggleClassName("selected");
					event.stop();
				}.bindAsEventListener(item));
			});
		})();
	</script>
<? } else { ?>
	<style type="text/css">
		#result table tr th {
			background: url(templates/builder/images/slate/grid/grid3-hrow.gif) repeat-x; 
			border-left: 1px solid #eee;
			border-right: 1px solid #d0d0d0;
			font-size: 11px;
			padding: 5px;
		}
		#result table tr td {
			background-color: #ddd;
			padding: 5px;
			font-size: 11px;
		}
		#result table tr.grey td {
			background-color: #ccc;
		}
		#result table tr:hover td {
			background-color: #ffffcc;
		}
		#result table tr.selected td {
			background-color: #ffffaa;
		}
	</style>
	<div style="padding:20px;">
	<div style="float:left;width:49%;position:relative;">
		Query
		<div id="query_container" style="padding:2px 3px;border:1px solid #9ab;"></div>
	</div>
	<div style="float:left;margin-left:1%;width:49%;position:relative;">
		Clipboard
		<div id="clip_container"></div>
	</div>
	<div style="clear:both;margin-bottom:3px;"></div>
	<div id="first_result" style="display:none;">
		<table border="0" cellspacing="1"><tr><th></th>
		<? if ($arr_param["result"][0] != null) { ?><th><?=implode("</th><th>", array_keys($arr_param["result"][0]->getArrayCopy()))?></th><? } ?>
		</tr>
		<? if (is_array($arr_param["result"]) && count($arr_param["result"]) > 0) foreach ($arr_param["result"] as $line=>$arr_entry) { ?>
			<tr class="<?=$line%2==0?'':'grey'?>">
				<td><?=($line+1)?></td>
				<? foreach ($arr_entry as $key=>$value) { if (is_numeric($key)) continue; ?>
					<td>
						<pre style="padding:0px;margin:0px;"><?=htmlspecialchars($value)?></pre>
					</td>
				<? } ?>
			</tr>
		<? } else { ?>
			<tr><td>No tables created yet.</td></tr>
		<? } ?>
		</table>
	</div>
	<div id="result_container" style=""></div>
	<script type="text/javascript">
		(function(){
			
			window.initTableList = function() {
				$$("#result tr td").each(function(item){
					item.observe("click", function(event){
						if (!this.up().down("td", 1)) return false;
						var tbl = this.up().down("td", 1).innerHTML.stripTags().strip();
						window.runQuery("SELECT * FROM tbl_"+tbl+" WHERE 1");
						event.stop();
					}.bindAsEventListener(item));
				});				
			};
							
			window.runQuery = function(query, callback, hide) {
				if ((query || window.sqlQuery.getCode()).strip().length <= 0) return false;
				if (hide) {
					Ext.getCmp("query_result_panel").setTitle("Table List");
				} else {
					var shortQuery = (query || window.sqlQuery.getCode());
					if (shortQuery.length > 50) shortQuery = shortQuery.substr(0, 50);
					Ext.getCmp("query_result_panel").setTitle("Query Result for: " + shortQuery);
				}
				invoke("result", "builder:queryTest&check=1", {
					"query": query || window.sqlQuery.getCode()
				}, true, function(req){
					if (typeof(callback) == "function") {
						new PeriodicalExecuter(function(pe) {
							callback();
							pe.stop();
						}, 0.5);
					}
				});				
			};

			new Ext.form.TextArea({
				fieldLabel: "Query",
				grow: true,
				id: "query",
				width: "100%",
				renderTo: "query_container",
				anchor:'95%'
			});
			new Ext.form.TextArea({
				grow: true,
				fieldLabel: "Clipboard",
				width: "100%",
				renderTo: "clip_container",
				anchor:'95%'
			});
			new Ext.Panel({
				id: "query_result_panel",
				title: "Table List",
				layout: "fit",
				height: $("result_container").up().up().getHeight() - $("result_container").offsetTop - 40,
				autoScroll: true,
				renderTo: "result_container",
				items:[{
					xtype: 'panel',
					html: $("first_result").innerHTML,
					id: "result"
				}]
			});
			Ext.getCmp("portlet_content_query_test").getTopToolbar().add([{
				xtype: "button",
				text: "Execute Query",
				iconCls: "run",
				tooltip: "Ctrl+Shift+X",
				handler: function(e){
					window.runQuery();
				}
			},{
				xtype: "button",
				text: "Overview",
				iconCls: "table",
				handler: function(e) {
					window.runQuery("SELECT name AS table_name, REPLACE(':', ', ', field_names) AS fields FROM tbl_prailsbase_table WHERE fk_user_id=\"<?=$_SESSION['builder']['user_id']?>\"", window.initTableList, true);
				}
			}]);
			Ext.QuickTips.init();
			window.sqlQuery = CodeMirror.fromTextArea('query', {
				height: "100%",
				parserfile: ["parsesparql.js", "../../main/js/prototype.js", "shortcuts.js"],
				stylesheet: ["templates/builder/css/sparqlcolors.css"],
				path: "templates/builder/js/",
				textWrapping: true
			});
			new PeriodicalExecuter(function(pe) {
				if (window.sqlQuery.editor != null) {
					pe.stop();
					window.sqlQuery.editor.doc.parent = window;
					window.sqlQuery.editor.doc.run = function(){
						window.runQuery();
					};
					initTableList();
				}
			}, 0.5);
		})();
	</script></div>
<? } ?>
