ServerSignature Off
<IfModule mod_rewrite.c>
	RewriteEngine on
	
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule templates/([^/]*)/images/(.*)$ index.php?event=builder:createResource&mod=$1&resource=$2 [L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule (.+\.html)$ index.php?event=builder:help&path=$1 [L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ([^/]+)/((edit|delete|view)([A-Z][a-zA-Z0-9]+))(/(.*))?$ index.php?event=$1:$2&$4_id=$6 [L]
	
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ([^/]+)/([^/]+)(/(.*))?$ index.php?event=$1:$2&$4 [L]
	
	#--START_CUSTOM--#
	#--END_CUSTOM--#

</IfModule>
