ServerSignature Off

# make sure that PHP always uses the short open tag setting
php_value short_open_tag 1 

<FilesMatch "\.(htaccess|users|groups|log|prails)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>
Options -Indexes

# add compression types for static files
AddType text/css css cssgz
AddEncoding gzip cssgz
AddType text/javascript js jsgz
AddEncoding gzip jsgz
ErrorDocument 404 /rewrite.php

<IfModule rewrite_module>
	RewriteEngine on

	# make sure HTTP auth also works on CGI & FastCGI
	RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

	RewriteCond %{REQUEST_FILENAME} \.users [OR]
	RewriteCond %{REQUEST_FILENAME} \.groups [OR]
	RewriteCond %{REQUEST_FILENAME} .+\.prails$ [OR]
	RewriteCond %{REQUEST_FILENAME} \.htaccess
	RewriteRule ^(.*)$ index.php?event=builder:home [L]
		
	#--START_CUSTOM--#
	#--END_CUSTOM--#

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule favicon.ico$ favicon.ico [L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule templates/([^/]*).*/images/(.*)$ index.php?event=builder:createResource&mod=$1&resource=$2 [L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{QUERY_STRING} ^(.*)$
	RewriteRule ^static/(.+)\.html$ index.php?event=main:cmsHandler&page=$1&%1 [L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule (.+\.html)$ index.php?event=builder:help&path=$1 [L]

	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ([^/]+)/((edit|delete|view)([A-Z][a-z_A-Z0-9]+))(/(.*))?$ index.php?event=$1:$2&$4_id=$6&$6 [QSA,L]
	
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ([^/.]+)/([^/.]+)(/(.*))?$ index.php?event=$1:$2&$4 [QSA,L]
	
</IfModule>

<IfModule mod_deflate.c>
	# compress text files
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/x-javascript
	# removes some bugs
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4\.0[678] no-gzip
	BrowserMatch \bMSI[E] !no-gzip !gzip-only-text/html
	Header append Vary User-Agent
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType text/css "access plus 6 months"
	
	# fixes a bug in IE7 under Vista / Win7 (once the MHTML is loaded, it won't be shown again, if not explicitly demanded, so we say it's expired)
	<FilesMatch "\.header\.(css|cssgz)$">
		BrowserMatch \bMSI[E]\s+7[.0-9]+;\s+Windows\s+NT\s+[67] EXP_HEADER
	
		<IfDefine EXP_HEADER>
			Header set Cache-Control "public"
			Header set Expires "Thu, 15 Apr 2010 20:00:00 GMT"
		</IfDefine>
	</FilesMatch>
</IfModule>
