div#qwbuilder_handlerPanel {
	width: auto !important;
}

div#qwbuilder_headerPanel {
	background: #efefef url(../images/slate/panel/white-top-bottom.gif) top left repeat-x;
	color: #fff;
	font-weight: bold;
	padding:5px;
}

div#qwbuilder_headerPanel .x-panel-body {
	background: transparent;
}

#msg-div {
	position:absolute;
	left:35%;
	top:10px;
	width:250px;
	z-index:20000;
}

.add, button.add { background-image: url(../images/add.png); }
.apply { background-image: url(../images/apply.png) !important; }
.config { background-image: url(../images/settings.png) !important; }
.delete, button.delete { background-image: url(../images/delete.png); }
.edit { background-image: url(../images/edit.png) !important; }
.folder { background-image: url(../images/default/tree/folder.gif); }
.handler { background-image: url(../images/default/tree/leaf.gif) !important; }
.HelpTabIcon { background-image: url(../images/help.png) !important; }
.history { background-image: url(../images/history.gif) !important; }
.library { background-image: url(../images/library.png) !important; }
.locale { background-image: url(../images/locale.png) !important; }
.options { background-image: url(../images/editModule.png) !important; }
.package { background-image: url(../images/package.png) !important; }
.run { background-image: url(../images/run.png) !important; }
.resource { background-image: url(../images/resource.png) !important; }
.save { background-image: url(../images/save.gif) !important; }
.x-tree-node .query img.x-tree-node-icon, .data { background-image: url(../images/default/grid/columns.gif) !important; } 
.tagLib { background-image: url(../images/taglib.gif) !important; }
.table { background-image: url(../images/table.gif) !important; }
.urls, .handler-url { background-image: url(../images/url.png) !important; }

ul.historyList li a {
	background: url(../images/slate/toolbar/bg.gif) repeat-x;
	color: #fff;
	padding-right:5px;
	text-decoration: none;
}

div#shoutbox { position:absolute; right: 10px;width: 200px; }
div#sbmsglist p { margin: 1em 0 0 1em; }
span.sbuser { font-weight:bold; color: #556677; }
span.sbdate { font-size: 10px; vertical-align:middle; color: #999; }
span.sbtext { font-size: 12px; font-family: "Courier New", "Lucida Console", monospace; }

body a:hover {
	background: transparent;
}

.scaffold {
	padding: 5px 20px 20px;
}

.scaffold input[type="checkbox"] {
	margin-left: 10px;
}

fieldset {
	border: 1px solid #ccc;
	margin-top: 10px;
	padding: 10px;
}

#qwbuilder_contentPanel a {
	color: #369;
}
#qwbuilder_contentPanel a:hover {
	color: #47a;
	text-decoration: none;
}

fieldset select.export {
	width: 100px;
}

form .panel-bottom input[type="text"] {
	margin-right: 10px; 
	width: 250px;
	padding: 2px; 
}

form .panel-bottom {
	margin: 1em 0px; 
	background-color: rgb(239, 239, 239); 
	text-align: right; 
	padding: 3px 10px; 
}

textarea {
	font-family: monospace !important;
	font-size: 11px !important;
	border: 0px solid #ccc;
	white-space: pre !important;
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}

.localization .formfield {
    float: left;
    margin-right: 20px;
    width: auto;
}

.localization .formfield label {
    font-size: 10px;
}